<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <header>
      <h1>Clean Up On Aisle Me</h1>
    </header>
    <main>
      <%- include('partials/nav') %>
      <section class="body"></section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
