<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <header>
      <h1>Clean Up On Aisle Me</h1>
    </header>
    <main class="container-fluid">
      <div class="row">
        <%- include('partials/nav') %>
        <section class="body col">
          <h2>Welcome to the Clean Up On Aisle Me Documentation</h2>
          <p>
            This documentation provides an overview of the Clean Up On Aisle Me
            project, including its concept, art, technical information, and
            about the creator.
          </p>
        </section>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
